# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# python virtual environment
venv/
__pycache__/
legacy_project/
*.pyc
*.pyo
*.pyd

mock/

# Text-to-SQL Large Files
packages/textTosql/results/
packages/textTosql/data/train.json
packages/textTosql/data/validation.json
packages/textTosql/data/test.json
packages/textTosql/venv/
packages/textTosql/__pycache__/
packages/textTosql/*.pyc
packages/textTosql/.cache/
# Ignore downloaded model files but keep scripts
packages/textTosql/models/*
!packages/textTosql/models/*.py
!packages/textTosql/models/__init__.py
results/
packages/textTosql/data/spider
/packages/textTosql/results_spider_medical
